/* JavaFX CSS 
 * 
 * CSS FOR THE VIEW
 * 
 */

.root {
	-fx-background-color: #D1C4E9; /* #F5F5F5; */ 
	-fx-color: #fff;
}

#buttonStart {

	-fx-background-color: grey;
  /*  -fx-background-image: url("../../styles/offa.png"); */
    -fx-background-size: 55.0 55.0;
    -fx-background-position: center ;
    -fx-background-repeat: no-repeat;
    -fx-font-family: "Verdana";
    -fx-font-size: 25px;
    -fx-text-fill: white;

}

#buttonStart:pressed {

	-fx-background-color: #bbb;
   /*  -fx-background-image: url("../../styles/offb.png"); */
    -fx-background-size: 55.0 55.0;
    -fx-background-position: center ;
    -fx-background-repeat: no-repeat;
    -fx-font-family: "Verdana";
    -fx-font-size: 26px;
    -fx-text-fill: white;

}



#buttonStop {

	-fx-background-color: grey;
    -fx-font-family: "Verdana";
    -fx-font-size: 25px;
    -fx-text-fill: white;

}

#buttonStop:pressed {

	-fx-background-color: #bbb;
    -fx-background-size: 55.0 55.0;
    -fx-background-position: center ;
    -fx-background-repeat: no-repeat;
    -fx-font-family: "Verdana";
    -fx-font-size: 26px;
    -fx-text-fill: white;

}


#buttonDec {

	-fx-background-color: grey;
    -fx-font-family: "Verdana";
    -fx-font-size: 25px;
    -fx-text-fill: white;

}

#buttonDec:pressed {

	-fx-background-color: #bbb;
    -fx-background-size: 55.0 55.0;
    -fx-background-position: center ;
    -fx-background-repeat: no-repeat;
    -fx-font-family: "Verdana";
    -fx-font-size: 26px;
    -fx-text-fill: white;

}

#buttonInc {

-fx-background-color: grey;
    -fx-font-family: "Verdana";
    -fx-font-size: 25px;
    -fx-text-fill: white;

}

#buttonInc:pressed {

	-fx-background-color: #bbb;
    -fx-background-size: 55.0 55.0;
    -fx-background-position: center ;
    -fx-background-repeat: no-repeat;
    -fx-font-family: "Verdana";
    -fx-font-size: 26px;
    -fx-text-fill: white;

}


#labelTempo {
	
	-fx-background-color: #fff;
	 -fx-font-size: 60px;
    -fx-text-fill: black;
}


#labelTitle {-fx-background-color:#D1C4E9;
	    -fx-font-size: 36px;
	}  
